<%= form_with(model: notification_rate_limit, local: true) do |form| %>
  <% if notification_rate_limit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification_rate_limit.errors.count, "error") %> prohibited this notification_rate_limit from being saved:</h2>

      <ul>
        <% notification_rate_limit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :notification_type %>
    <%= form.text_field :notification_type %>
  </div>

  <div class="field">
    <%= form.label :limit %>
    <%= form.number_field :limit %>
  </div>

  <div class="field">
    <%= form.label :period %>
    <%= form.number_field :period %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
